<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"><title>Calculatrice</title></head>
<body>
    <h2>Opération sélectionnée : {{ operation }}</h2>
    <form method="POST">
        Nombre 1 : <input type="number" step="any" name="num1" required><br><br>
        Nombre 2 : <input type="number" step="any" name="num2" required><br><br>
        <button type="submit">Calculer</button>
    </form>

    {% if result is not none %}
        <h3>Résultat : {{ result }}</h3>
    {% endif %}

    <br><a href="{{ url_for('home') }}">Retour à l'accueil</a>
</body>
</html>
